---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
$spacing-unit:     30px;
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
$font-stack: 'Open Sans Condensed', sans-serif;
$sidebar-color:#000;
body {
	margin: 0px;
	font-family: $font-stack;
}

a
{
	color:#000;
	font-weight: bold;
	text-decoration: none;
}

a:hover
{
	color:#000;
	font-weight: bold;
	text-decoration: underline;
}
#navbar {
	background-color:$sidebar-color;
	border-bottom: #000 2pt solid;
	padding-top: 20px;
	padding-bottom: 10px;
}
.posttitle a
{
	color:#000;
	text-decoration: none;	
}

.posttitle a:hover
{
	color:#000;
	text-decoration: underline;	
}
#content {
	padding: 10pt;
}

.img-circle {
	border-radius: 50%;
}

#navcontainer ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navcontainer ul li { 
	display: inline;
}

#navcontainer ul li a { 
	text-decoration: none;
	 border:none;
}

#pages ul { 
	padding: 0;
}

#pages ul li { 
	list-style-type: none;
}

#pages ul li { 
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: large;
}

#pages ul li a { 
	color: #FFF;
	font-size: larger;
}
.title a
{
	text-decoration: none;
	color: #FFF;
}
.subtitle
{
	text-decoration: none;
	color: #FFF;
}
@media screen and (max-width:599px) {
	#pages ul li { 
	display: inline;
}
}

#sidebar-inner
{
	padding-left: 10%;
}
#content h1 a
{
	color: #000;
	font-size: 120%;
}
@media screen and (min-width:600px) {
	#content {
		margin-left: 25%;
		padding: 25pt;
	}
	#navbar {
		float: left;
		width: 25%;
		position: fixed;
		background-color:$sidebar-color;
		border-right: #CCC 2pt solid;
		height: 100%;
	}
	#sidebar-inner
	{
		padding-left: 10%;
	}
}

@import
        "syntax-highlighting"
;