---
layout: default
---
<header id="home-header" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div class="container">
    {% if site.gravatar_hash %}
      <img class="img-circle" src="http://www.gravatar.com/avatar/{{ site.gravatar_hash }}?size=120" alt="" />
    {% endif %}
    <h1>{{ site.title }}</h1>
    <ul class="meta">
      <li>
        <span>
          {{ site.tagline }}
        </span>
      </li>
    </ul>
    <div class="bullets">
      <ul>
      {% for page in site.pages %}
        {% if page.showInMenu == true %}
        <li>
          <span><a style="color:#FFF;" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></span>
        </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</header>
<article>
  <div class="container">
    <ul class="posts">
      {% for post in site.posts %}
        <li>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <span class="meta">
            {{ post.date | date_to_string }}
          </span>
          {{ post.excerpt }}
        </li>
      {% endfor %}
    </ul>
  </div>
</article>


