<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.googleplus_username %}
                    <li>
                            <a href="https://plus.google.com/u/0/{{ site.googleplus_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                            </span>
                            </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                    Copyright &copy; {{ site.time | date: '%Y' }} - Anuraj. Blog content licensed under the Creative Commons <a href="http://creativecommons.org/licenses/by/2.5/" target="_blank">CC BY 2.5</a> | Unless otherwise stated or granted, code samples licensed under the <a href="http://sm.mit-license.org/" target="_blank">MIT license</a>. | Site design based on the <a target="_blank" href="https://github.com/IronSummitMedia/startbootstrap-clean-blog-jekyll">Clean Blog theme</a> under the <a href="http://www.apache.org/licenses/LICENSE-2.0/" target="_blank">Apache license</a>
                </p>
            </div>
        </div>
    </div>
    <a href="#" class="go-top">
        <i class="fa fa-arrow-circle-up fa-2x"></i>
    </a>
<hr/>
</footer>

<!-- jQuery -->
<script src="{{ "/assets/scripts/jquery.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/scripts/bootstrap.js " | prepend: site.baseurl }}"></script>
<!-- For adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/scripts/clean-blog.js " | prepend: site.baseurl }}"></script>
{% if site.google_analytics %}
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
    _gaq.push(['_trackPageview']);
    
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
{% endif %}

{% if site.disqus_shortname and page.categories %}
    <script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_shortname }}';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}

{% if page.isSearch %}
<script>
$(function() {
    var searchTerm = getParameterByName("search");
    if(searchTerm)
    {
        var html = "";
        var count = 0;
        $.getJSON('/search.json', function(data) {
            searchTerm = searchTerm.toLowerCase();
            $.each(data, function(key, val){
                var existsInContent = val.content.toLowerCase().indexOf(searchTerm) >= 0;
                var existsIntitle = val.title.toLowerCase().indexOf(searchTerm) >= 0;
                var existsInDesc = val.description.toLowerCase().indexOf(searchTerm) >= 0;
                if(existsInContent || existsIntitle || existsInDesc)
                {
                    count++;
                    html += '<div class="post-preview">';
                    html += '<a href="' + val.link + '">';
                    html += '<h2 class="post-title">' + val.title + '</h2>';
                    html += '<h3 class="post-subtitle">' + val.description + '</h2>';
                    html += '</a></div>';
                }
            });
            
            html = "<h1>" + count + " result" + (count > 1 ? "s" : "") + " found for <em>" + searchTerm + "</em></h1><hr/>" + html;
            if(count == 0)
            {
                html = '<div class="post-preview">';
                html += '<h2 class="post-title">No results found.</h2>';
                html += '</div>';
            }
            
            $('#search_results').html(html);
        });
    }
});
</script>
{% endif %}