<div class="bullets">
<ul>
<li><img src="/images/share.png" alt="Share" /></li>
<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}">Share on Facebook</a></li>
<li><a target="_blank" href="https://twitter.com/home?status={{ page.url | prepend: site.baseurl | prepend: site.url }}">Share on Twitter</a></li>
<li><a target="_blank" href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}">Share on Google+</a></li>
<li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{page.title}}&summary=&source=">Share on LinkedIn</a></li>
</ul>
</div>