---
layout: default
---

<h1>{{ page.title }}</h1>
<p>
<img src="/images/calendar.png" alt="Date" />
{{ page.date | date: "%b %-d, %Y" }}
<p>
<div class="bullets">
<ul>
  <li><img src="/images/tags.png" alt="Tags" /></li>
{% for tag in page.tags %}
<li>{{ tag }}</li>
{% endfor %}
</ul>
</div>

<p>
	{{ content }}
</p>
{% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.previous.url %}
  {% if page.next.url %}
  &nbsp;|&nbsp;
  {% endif %}
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
{% include share.html %}
{% include disqus.html %}

